<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chuck Norris Jokes</title>
</head>
<body>
  <h1> <%= joke %></h1>
  <button id='return'>Voltar</button>
</body>
<script>
  const returnButton = document.getElementById('return');
  returnButton.addEventListener('click', () => {
    window.location = 'http://localhost:3000/categories'
  });
</script>
</html>